#app {
  margin: 0 auto;
  max-width: 600px;
}
#app, #app * {
  box-sizing: border-box;
}
#app .main-content {
  display: flex;
  flex-flow: column;
}
#app .main-content .wrapper-iframe {
  position: relative;
}
#app .main-content .wrapper-iframe.wide {
  padding-top: 56.25%;
}
#app .main-content .wrapper-iframe.fullscreen {
  height: 100%;
}
#app .main-content .wrapper-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#app .main-content .wrapper-buttons {
  margin: 10px;
  text-align: right;
}